html 
{
    -webkit-font-smoothing: antialiased;
}

.logo
{
    color: transparent;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
    box-sizing: border-box;
    margin-left: -700px;
    margin-top: auto;
    text-align: center;
}

.welcome
{
    color: deeppink;
    font-family: monospace;
    font-size: 300%;
    text-align: center;
    outline: black;
}

.font-size
{
    font-size: 400%;
    margin-left: -280px;
    margin-top: 280px;
}

#center
{
    align-content: center;
}


/* Navigation */ 
/* --------------------------------------------------- */

div.box
{
    border: 2px solid black;
    width: 800px;
    height: 100px;
    margin: 20px auto auto;
}

p.topper
{
    font-size: 70%;
    color: black;
    box-sizing: border-box;
    margin-left: -985px;
    margin-top: auto;
    text-align: center;
}

.nav > li > a > span
{
    word-spacing: normal;
}
ul
{
    list-style-type: none;
    margin: auto;
    text-align: center;
    padding: 0;
}

.nav
{
    font-size: 175%;
    list-style: none;
    margin: -100px auto auto;
    word-spacing: 50px;
}
.nav > li
{
    display: inline-block;
}

.nav .current
{
    text-decoration: underline black;
    text-underline-offset: 15px;
}

.nav a:hover
{
    color: white;
}
/* --------------------------------------------------- */

div.main
{
    border: 2px solid black;
    width: 800px;
    height: 175px;
    margin: 40px auto auto;
}

h1.home
{
    color: black;
    text-align: center;
}
p.home 
{
    color: black;
    text-align: center;
}


